@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './gym-theme.css';
/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}